/*
CSS For Nav Bar Begins
*/

/* For using imported fonts:
font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif;
*/

.topnav > a {
    text-decoration: none;
    text-decoration-color: initial;
    color: #F8F9F9; /* gray background */
}

.menuHolder {
    height: 80px;
    width: 100%;
    background-color: #F8F9F9; /* gray background */
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
}

.topnav {
    overflow: hidden;
    background-color: #F8F9F9; /* gray background */
    position: relative;
    top:0;
    z-index: 999;
}

.topnav > a {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    display: block;
    color: #427FE5; /* Blue 900 */
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.topnav a:hover {
	color: #000;
}

.active {
    color: #000 !important;
}

.topnav .icon {
    display: none;
}

.logo {
    display: block;
    height: auto;
    width: 25px;
}

@media screen and (max-width: 910px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/*
CSS For Nav Bar Ends
*/

/*
CSS For Footer Begins
*/

.foot {
    color: #427FE5;
    margin-top: 1em;
    background-color: #F8F9F9;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5em;
}

.foot li {
    font-family: 'Roboto', sans-serif;
    font-size: .7em;
    list-style-type:none;
    
}

.foot a {
    text-decoration: none;
}

.time{
    margin-left: 30%;
    font-size: .7em;
}

@media screen and (max-width: 910px) {
    .foot {
        margin-top: .5em;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1em;
    }
  }

/*
CSS For Footer Ends
*/

/*
CSS for the body begins
*/

html {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #fff; /* white background */
    font-family: 'Roboto', sans-serif;
}

.content{
    margin: auto;
    width: 60%;
    border: 2px solid #F8F9F9;
    text-align: center;
    padding: 2em;
    background-color: #F8F9F9;
    border-radius: 10px;
}  

.toppic{
    margin: auto;
    width: 25%;
    height: 40%;
    background-color: #fff;
    
} 

.toppic1{
    margin: auto;
    width: 60%;
    padding: 2em;
    background-color: #fff;
    
}  

@media screen and (max-width: 910px) {
    .content{
        margin: auto;
        width: 75%;
        border: 2px solid #F8F9F9;
        text-align: center;
        padding: 2em;
        background-color: #F8F9F9;
        border-radius: 10px;
    }  
  }
/*
CSS for the body ends
*/

/*
CSS for forms begins
*/
.content input[type=text], 
.content input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=reset]{
    background-color: #FF5A5C;
}

input[type=submit]{
    background-color: #44A7FE;
}

input[type=button]{
    background-color: #4CAF50;
    padding: 14px, 20px;
}

input[type=submit],
input[type=reset],
input[type=button]{
    color: white;
    padding: 14px 20px;
    border: none;
    margin: 10px 6px;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover{
    background-color: #45a049;
}

input[type=reset]:hover{
    background-color: #FC4949;
}

input[type=submit]:hover{
    background-color: #1491FF;
}

@media screen and (max-width: 910px) {
    .content{
        margin: auto;
        width: 75%;
        border: 2px solid #F8F9F9;
        text-align: center;
        padding: 2em;
        background-color: #F8F9F9;
        border-radius: 10px;
    }  
  }

/*
CSS for forms ends
*/

/*
CSS for Exercises begins
*/

/*LOAD QUIZ BUTTON*/
.loadQuiz {
    background-color: darkgreen;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
    transition:all .2s linear;
    display: block;
    position: relative;
}

.loadQuiz:hover {
	cursor:pointer;
    background-color: hotpink;
}


/*INITIAL FORMS*/
/*set invisible*/
#quiz1, #quiz2, #quiz3, #quiz4, #quiz5, #quiz6 {
    display: none;
}



/*-----FORM-----*/

.myForm {
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.myForm h1 {
    font-size: 2em;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: darkgreen;
    text-shadow: 1px 1px 1px #949494;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;

}
/*Note to Self, > only affects child, not grandchildren*/
.myForm h1>p {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.myForm label {
    display: block;
    margin: 0px 0px 5px;
    padding-right: 25px;
}
.myForm label>p {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.myForm input[type="text"], 
.myForm input[type="quantity"],
.myForm input[type="date"],  
.myForm input[type="number"], 
.myForm input[type="tel"], 
.myForm input[type="url"], 
.myForm textarea, 
.myForm select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.myForm textarea{
    height:100px;
    padding-top: 10px;
}
.myForm select {
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width:100%;
    height:30px;
}
.myForm .button {
    background-color: darkgreen;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
    transition:all .2s linear;
}
.myForm .button:hover {
	cursor:pointer;
    background-color: darkseagreen;
}
.indent{
	position:relative;
	left:25px;
}

.myForm #sliderOutput {
    display: inline;
    font-weight: bold;  
}

.myForm fieldset {
    /*match size of other fields*/
    width: 98%; 
}

.errorAnswer{
    color: red;
    font-weight: bold;
    display: none;
}

/*
CSS for Exercises ends
*/


/*
CSS for Profile begins
*/

.chapterHolder {
    
    display: block;
    border-style: solid;
    border-color: deepskyblue;
    border-radius: 4px;
    background-color: white;
    margin: 15px 20px;
    margin-right: auto;
    
}

.chapterHolder:after {
    content: "";
    display: table;
    clear: both;
}

.chapImg {
    width: 150px;
    height: auto;
    display: inline-block;
    float: left;
}

.checkImg {
    width: 50px;
    height: auto;
    display: inline-block;
    float: right;
    padding: 15px;
}

.logout{
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.out{
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    border: none;
    margin: 10px 6px;
    border-radius: 4px;
    cursor: pointer;
}

a.out:hover{
    background-color: steelblue;
}

/*
CSS for Profile ends
*/


/*
CSS for Review begins
*/

.question p{
    float: left;
}

input[type=name],
input[type=date],
input[type=number]{
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid skyblue;
    border-radius: 4px;
}

input[type=name]:focus,
input[type=date]:focus,
input[type=number]:focus{
    background-color: aliceblue;
}

.indent{
    position:relative;
    display: inline;
}

#fieldset label{
    float: left;
    }

input[type=radio],
input[type=checkbox]{
    float: left;
}

#fieldset{
    display: block;
    border: 2px solid skyblue;
    border-radius: 4px;
}

/*Media queries for review.php*/
@media screen and (max-width: 910px) {
    .question p{
        float: none;
    }
    .indent{
        float: none;
    }
    #fieldset label{
        float: none;
    }

    input[type=radio],
    input[type=checkbox]{
        float: none;
    }
}
/*CSS for Review ends*/

/*CSS for Learn begins*/
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-SemiBold.ttf') format('TrueType');
} /* just have the change the path probably */

.content p{
    text-align: left;
}

.quiz{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 50%;
    width: 50%;
}

/*CSS for Learn ends*/